doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Conway's Game Of Life
    link(type="text/css", rel='stylesheet', href='assets/css/gol.css')
  body
    h1 Conway's Game Of Life
    #container.container
      #controls.controls
        #grid_size.grid_size
          p please select the grid size you would like:
          label(for='height') height
          select#height(name='height', value='undefined')
            option(value='10') 10
            option(value='15') 15
            option(value='20') 20
            option(value='25') 25
            option(value='30') 30
            option(value='35') 35
            option(value='40' selected) 40
            option(value='45') 45
            option(value='50') 50
          label(for='width') width
          select#width(name='width', value='undefined')
            option(value='10') 10
            option(value='15') 15
            option(value='20') 20
            option(value='25') 25
            option(value='30') 30
            option(value='35') 35
            option(value='40') 40
            option(value='45') 45
            option(value='50') 50
            option(value='55' selected) 55
          section.border
            button(onclick='initiateGridSize()') Generate Grid
        #pauseOrPlay.button(onclick='game.pauseOrPlay();') Start
        // <div class="button" onclick="game.pause();">Pause</div>
        .button(onclick='game.clear()') Clear
        .button
          label
            | Fast
            input#speed(type='range', min='0', max='3000', onchange='game.changeSpeed()')
            | Slow
        .colorPickerWrapper
          #pickerDiv.button cell color
          #gridColor.button toggle grid color
        // <div class="button" id="pickerDiv">select a color</div>
      .patterns
        h2 Interesting Patterns to try..
        div
          img(id="pattern1" src="assets/images/pattern1.png")
          br
          label Adam & Eve
        br
        br
        div
          img(id="pattern1" src="assets/images/pattern2.png")
          br
          label Acorn
      #grid
        // this is where all the cells will go
    input#color_input.field(type='color', name='color_picker', value='#ff0000')
    script(type='text/javascript', src='assets/js/gol.js')
