/*=================================================
||				1. Imports 
==================================================*/
@import url(http://fonts.googleapis.com/css?family=Roboto:200,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

html, body
{
	font-family: 'Roboto', 'Open-Sans', sans-serif;
	max-width: 100%;
	overflow-x: hidden;
	color: #6FA2FF;
}
.black{
	color: #313131;
}
.white{
	background: white;
}
.purple{
	background: #2F72FF;
}
.section-wrapper{
	padding-top: 90px;
	padding-bottom: 80px;
}
.section-title{
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}
.section-item-title{
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.section-item-detail{
	font-size: 14px;
    font-weight: 300;
    margin-bottom: 50px;
    color: #999;
    letter-spacing: .39px;
}
.underline{
	height: 2px;
	width: 50px;
	margin: 0px auto 60px;
}
/*=================================================
||				3. Header
==================================================*/

.header {
	background-color: #000000;
	color: white;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	text-transform: uppercase;

	-webkit-transition: stroke 0.5s ease-out;
	-moz-transition: stroke 0.5s ease-out;
	-o-transition: stroke 0.5s ease-out;
	-ms-transition: stroke 0.5s ease-out;
	transition: stroke 0.5s ease-out;
}

.header-logo {
	width: 250px;
	height: auto;
	fill:none;
	stroke: white;
	stroke-width:20;
	stroke-miterlimit:10;
  -webkit-transition: stroke 0.5s ease-out;
	-moz-transition: stroke 0.5s ease-out;
	-o-transition: stroke 0.5s ease-out;
	-ms-transition: stroke 0.5s ease-out;
	transition: stroke 0.5s ease-out;
}

.header-logo:hover {
	width: 250px;
	height: auto;
	fill:none;
	stroke: #2F72FF;
	stroke-width:20;
	stroke-miterlimit:10;
	scale(1.1);
}

			/*navbar*/
.navbar-default .navbar-brand{
	color: white;
	font-size: 30px;
	padding: 10px 20px;
	height: auto;
	font-weight: 200;
	letter-spacing: 5px;
	visibility: hidden;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
	color: #6FA2FF;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-fixed-top .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-fixed-top .navbar-toggle{
	border-color: white;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    padding-top: 50px;
}
.navbar-default .navbar-nav>li>a{
	color: white;
    /*text-transform: uppercase;*/
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid transparent;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}
.navbar-default .navbar-toggle{
	border-radius: 0px;
}
.navbar-default .navbar-nav>li>a:hover{
	border: 1px solid black;
	color: white;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #6FA2FF;
}
.navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
    border: 1px solid black;
    color: #00000;
}
		/*Home*/
.header-wrapper{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.header-table{
	display: table;
	height: 70vh;
	width: 100%;
}
.header-title{
	font-size: 50px;
	letter-spacing: 10px;
	font-weight: 200;
}
.header-subtitle{
	font-size: 20px;
	letter-spacing: 3px;
}

/*=================================================
||				4. Our Service
==================================================*/
.service{
	background: black;
	position: relative;
}
.service .section-title{
	margin-top: 110px;
}
.services{
	margin-bottom: 100px;
}
.service .underline{
	margin-bottom: 75px;
}

.service-img{
	position: absolute;
	bottom: 0px;
}

@media only screen and (max-width: 800px) {
	.service-img{
		display: none;
	}
}
.twitter-feed{
	color: #fff;
}
.item{
	text-align: center;
}
.owl-prev, .owl-next
{
	position: absolute;
	top: 10%;
}
.owl-next
{
	right: -10px;
}
.owl-prev
{
	left: -10px;
}
.owl-prev:before
{
    /*content: "\f3d2";*/
    /*font-family: 'ionicons';*/
    content: url("https://s3-us-west-2.amazonaws.com/kolbeypruitt.com/img/left.png");
}
.owl-next:before
{
    /*content: "\f3d3";*/
    /*font-family: "ionicons";*/
    content: url("https://s3-us-west-2.amazonaws.com/kolbeypruitt.com/img/right.png");
}

/*=================================================
||				5. Twitter Feed
==================================================*/
.day, .feed{
	font-size: 15px;
	font-weight: 200;
}
.feed{
	font-style: italic;
	margin: 30px 0px;
}
.options a{
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	padding: 0px 20px;
}
.options a i{
	padding-right: 10px;
}
.options a:hover{
	text-decoration: none;
}
.item:hover{
	cursor: w-resize;
}
/*=================================================
||				7. Portfolio
==================================================*/

section#portfolio {
  background: #212121;
}

img.port-item {
	width: 350px;
	height: auto;
	transition: all .6s ease-in-out;
}

.portfolio-img {
	height: 220px;
	width: auto;
	overflow: hidden;
	text-align: center;
}

.portfolio-item:hover .portfolio-img-hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60%;
	transition: all .6s ease-in-out;
	background: rgba(0, 0, 0, 0.5);
}

.portfolio-img:hover .plus{
	display: inline-block;
	padding-top: 25%;
}
.portfolio-img:hover .port-item{
	transform: scale(1.1);
}

.portfolio-item-name{
	height: 30%;
	margin-bottom: 20%;
	font-size: 15px;
}

.port-heart, .portfolio-item-name small{
	font-size: 13px;
	margin-bottom: 100px;
	color: #969595;
}

/*
.port-heart{
	float: right;
	display: inline-block;
	margin-top: 10px;
}
*/

/*=================================================
||				8. Note
==================================================*/
.note{
	color: #dadada;
}
.quote{
	font-style: italic;
	font-size: 16px;
	font-weight: 200;
	padding: 0px 145px;
}
.quoter{
	font-size: 20px;
	font-weight: 400;
	margin-top: 20px;
}

/*=================================================
||				9. Fun Facts
==================================================*/
.fun{
	background: black;
}
.fun-box{
	border: 2px solid #313131;
	text-align: center;
	padding: 40px 0px;
}
.number{
	font-weight: 700;
	font-size: 25px;
}
.number-title{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
}
.col-sm-6 .fun-box{
	margin-bottom: 20px;
}
/*=================================================
||				10. Footer
==================================================*/
footer{
	background: #eaeaea;
	padding: 20px 0px;
}
.copy{
	font-size: 14px;
	font-weight: 300;
	color: #929292;
	padding: 10px 0px;
	display: inline-block;
}
.fb{
	background: #1976d2;
}
.twitter{
	background: #2CAAE1;
}
.google{
	background: #c62828;
}
.rss{
	background: #ff8f00;
}

.icon{
	height: 40px;
	width: 40px;
	text-align: center;
	padding: 8px;
	display: inline-block;
	border: 1px solid transparent;
	font-size: 18px;
}
a .icon{
	color: #dadada;
}
/*.social-icon{
	float: right;
}*/
a .icon:hover{
	background: transparent;
}
a .fb:hover{
	color: #1976d2;
	border-color: #1976d2;
}
a .twitter:hover{
	color: #2CAAE1;
	border-color: #2CAAE1;
}
a .google:hover{
	color: #c62828;
	border-color: #c62828;
}
a .rss:hover{
	color: #ff8f00;
	border-color: #ff8f00;
}

/*=================================================
||				11. Others
==================================================*/
/*Testimonial*/
.contact{
	background: #212121;
	color: #fff;
	margin: -10px;
}
.contact .section-title{
	color: #fff;
}
.contact-detail{
	font-style: italic;
	font-size: 15px;
	font-weight: 200;
	margin-bottom: 50px;
}
.contact-item{
	margin-left: 25px;
	margin-right: -30px;
}
.test-name {
    margin-bottom: 40px;
}
/*Owl carousel*/
.owl-theme .owl-controls .owl-nav [class*=owl-]{
	background: transparent;
}
.owl-theme .owl-dots .owl-dot span{
	width: 20px;
	height: 8px;
	border-radius: 0px;
	background: transparent;
	border: 1px solid #fff;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background: #fff;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
	background: transparent;
}
/*Add*/
.add .owl-prev:before
{
    content: url("https://s3-us-west-2.amazonaws.com/kolbeypruitt.com/img/bleft.png");
}
.add .owl-next:before
{
    content: url("https://s3-us-west-2.amazonaws.com/kolbeypruitt.com/img/bright.png");
}
.owl-next
{
	right: -90px;
}
.owl-prev
{
	left: -90px;
}
.add .owl-prev, .add .owl-next
{
	top: 25%;
}
.add-item{
	padding: 20px;
}
@media (max-width: 960px){
	.nav>li{
		text-align: center;
	}
	.service-img{
		opacity: .2;
	}
	.fun-box{
		margin: 15px;
	}
	.quote{
		padding: 0 50px;
	}
	.portfolio .portfolio-item{
		margin: 15px;
	}
	.price-title, .price-list{
		text-align: center;
	}
	.options a{
		padding: 0 5px;
	}
	footer{
		text-align: center;
	}
	footer .text-right{
		text-align: center;
	}
	.navbar-default .navbar-brand{
		margin-left: 15px;
	}
		img.about-img {
	    width: 100%;
	    padding: 15px 15px 0px;
	}
	.quote{
		padding: 0 15px;
	}
} 
@media (max-width: 480px){
	.header-table{
		max-height: 627px;
	}

	.roles div {
	  font-size: 20px;
	}
}


/*This is for the aboutMeScroller*/
.wrapper {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.roles {
  font-size: 30px;
  height: 50px;
  vertical-align: middle;
  overflow: hidden;
}

.roles div {
  height: 50px;
  transition: margin-top 1s ease-in-out;
}
/*This is for the aboutMeScroller*/



#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,0.9);
  transition: 1s 0.4s;
}

#progress{
  height:1px;
  background:#fff;
  position:absolute;
  width:0; /* will be increased by JS */
  top:50%;
}

#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:#fff;
}


/*=================================================
||				12. About
==================================================*/

.about{
	background: black;
}
.about-detail{
	font-size: 14px;
	color: #999;
	font-weight: 200;
	top: 50%;
	transform: translateY(50%);
	/*position: absolute;*/
	/*padding-left: 40px;*/
    /*line-height: 22px;*/
}
.section-item-title, .section-item-detail{
	text-align: center;
}
.about .row:nth-child(4){
	margin-top: 90px;
}
.team{
	background: #ededed;
}
.team-item{
	background: #f3f3f3;
	margin-bottom: 50px;
	text-align: center;
}
.team-img{
	width: 100%;
}
.team-item-name{
	font-size: 14px;
	margin-bottom: 0px;
	padding-top: 20px;
}
.team-item-id{
	color: #a3a2a2;
	font-size: 11px;
	text-transform: uppercase;
	padding-bottom: 30px;
}

/*=================================================
||				13. Contact
==================================================*/

.contact{
    text-align: left;
}
.contact i {
    width: 60px;
    height: 80px;
    border-radius: 30px;
    border: 2px solid #b1b1b1;
    color: #b1b1b1;
    font-size: 40px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
    float: left;
    transition: all .6s ease-in-out;
}
.contact-item:hover i{
    background-color: #2F72FF;
    border: 2px solid #2F72FF !important;
    color: #fff;
}
.contact h3{
	padding-bottom: 20px;
	font-size: 15px;
}
.contact p{
	font-size: 13px;
	color: #969595;
}

.form{
    margin-top: 50px;
    background: #f9f9f9;
}
.form h3{
    margin-left: 15px;
    font-size: 25px;
    color: #9999A2;
}
.form .message{
    margin: 0px 15px;
    height: 180px;
    width: 98%;
}
.btn-sub {
    border-radius: 0px;
    color: white;
    background-color: #2F72FF;
    padding: 10px 25px;
    margin: 10px 30px;
    border-color: #2F72FF;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}
.btn-sub:hover{
    background-color: #fff;
    border-color: #2F72FF;
    color: #2F72FF;
}
input[type="username"], input[type="email"], input[type="text"], .message{
	border-color: transparent;
	background: #fff;
	font-size: 13px;
	color: #969595;
}
input[type="username"]:focus, input[type="email"]:focus, input[type="text"]:focus, .message:focus{
    border-color: #2F72FF;
    box-shadow: 0 0 8px rgba(74,20,140,.1) !important;
}
input.form-control, .message {
    border-radius: 0px;
}

img#resume-dowload {
  width: 125px;
  height: auto;
}

img.port-item {
	margin-bottom: 150px;
}




.con {
  position: absolute;
  margin-top: 10%;
  height: 50px;
  width: 120px;
}

.con2 {
  position: absolute;
  right: 0;
  margin-top: 10%;
  height: 50px;
  width: 140px;
}

.transition:hover {
  opacity: 0.5;
  cursor: pointer;
  transition-duration: 300ms;
}

@media (max-width: 480px){
  .con {
    display: none;
  }

  .con2 {
    display: none;
  }
}

/* Animation Keyframe Rules */
@-webkit-keyframes hover-board {
   0% {
     transform: translate(0px, 0px);
     -webkit-transform: translate(0px, 0px);
     animation-timing-function:ease-in-out;
   }

   50% {
     transform: translate(0px, 22px);
     -webkit-transform: translate(0px, 22px);
     animation-timing-function:ease-in-out;
   }

   100% {
     transform: translate(0px, 0px);
     -webkit-transform: translate(0px, 0px);
     animation-timing-function:ease-in-out;
   }
}
@-moz-keyframes hover-board {
   0% {
     transform: translate(0px, 0px);
     animation-timing-function:ease-in-out;
   }

   50% {
     transform: translate(0px, 22px);
     animation-timing-function:ease-in-out;
   }

   100% {
     transform: translate(0px, 0px);
     animation-timing-function:ease-in-out;
   }
}
@-o-keyframes hover-board {
   0% {
     transform: translate(0px, 0px);
     animation-timing-function:ease-in-out;
   }

   50% {
   transform: translate(0px, 22px);
   animation-timing-function:ease-in-out;
   }

   100% {
     transform: translate(0px, 0px);
     animation-timing-function:ease-in-out;
   }
}
@keyframes hover-board {
   0% {
     transform: translate(0px, 0px);
     animation-timing-function:ease-in-out;
   }

   50% {
     transform: translate(0px, 22px);
     animation-timing-function:ease-in-out;
   }

   100% {
     transform: translate(0px, 0px);
     animation-timing-function:ease-in-out;
   }
}

.animation {
  -webkit-animation: hover-board 2s infinite; /* Safari 4+ */
  -moz-animation:    hover-board 2s infinite; /* Fx 5+ */
  -o-animation:      hover-board 2s infinite; /* Opera 12+ */
  animation:         hover-board 2s infinite; /* IE 10+, Fx 29+ */
}

.delay {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}